<div class="card shadow-lg" style="width: 18rem;">
    <div class="card-body text-center">
        <div class="position-relative mb-3" style="height: 180px;"> <!-- Contenedor fijo para imagen/animación -->
            @if (finalizarPelea()) {
                <ng-lottie [options]="options2" style="height: 100%; width: 100%;"></ng-lottie>
            } @else {
                @if (showAnimation1) {
                    <ng-lottie [options]="options1" style="height: 100%; width: 100%;"></ng-lottie>
                } @else {
                    <img [src]="pokemon?.sprites?.front_default" class="img-fluid h-100 rounded" [alt]="pokemon?.name">
                }
            }
        </div>

        <h5 class="card-title mt-3">{{pokemon?.name | uppercase}}</h5>
        <p class="card-text text-muted">
            <strong>Height:</strong> {{pokemon?.height}} <br>
            <strong>Weight:</strong> {{pokemon?.weight}}
        </p>
        
        <ngb-progressbar class="mb-3" [type]="getProgressColor()" [value]="life" [striped]="true" [animated]="true">
            <span>{{life}}</span>
        </ngb-progressbar>
        
        @if (isMyTurn) {
            @if (life <= 0) {
                <p class="text-danger">You lose</p>
            } @else {
                <button (click)="doAttack()" class="btn btn-danger w-100">Attack</button>
            }
        } @else {
            <button class="btn btn-secondary w-100" disabled>Waiting</button>
        }
    </div>
</div>
