<div class="container">
    <div class="row">
        @for (item of listadoVehiculos; track item) {
        <div class="col-md-3 col-12 m-3">
            <div class="card" style="width: 18rem;">
                <img [src]="" class="card-img-top" [alt]="item.name">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">Model: {{item.model}} <br>
                        Pasajeros:{{item.passengers}} <br>
                        Manurfacturer: {{item.manufacturer}} <br>
                        Cost in credits: {{item.cost_in_credits}} <br>
                        Length: {{item.length}} <br>    
                        Max atmosphering speed: {{item.max_atmosphering_speed}} <br>
                        Crew: {{item.crew}} <br>
                        Cargo capacity: {{item.cargo_capacity}} <br>
                        Consumables: {{item.consumables}} <br>
                        Vehicle class: {{item.vehicle_class}} <br>
                        

                    </p>
                </div>
            </div>
        </div>
        }

    </div>
</div>