<div class="col-md-3 col-12 p-2 my-3">
    <div class="card border-0 mx-3 my-4" style="width: 290px;">  
        <!--Parte superior-->
        <div class="border-5 rounded-4 ">
            <a [routerLink]="['/people-detail', getOnePeople(person!.url)]"><img [src]="getPeopleImg(person!.url)" class="card-img-top rounded-4" [alt]="person!.name"></a>
        </div>


        <!--Parte inferior-->
        <div class="container d-flex justify-content-between card-body rounded-4 mt-1 px-2">
            <div class="ms-2">
                <h5 class="card-title text-dark m-0 text-capitalize tipografia">{{ person!.name }}</h5>
            </div>
           
        </div>
    </div>
</div>