<div class="checkbox-container">
    <mat-checkbox (change)="aniadirColumnaCheck('numAlumno', $event.checked)" [checked]="displayedColumns.includes('numAlumno')">Numero Alumno</mat-checkbox>
    <mat-checkbox (change)="aniadirColumnaCheck('nombre', $event.checked)" [checked]="displayedColumns.includes('nombre')">Nombre</mat-checkbox>
    <mat-checkbox (change)="aniadirColumnaCheck('apellido', $event.checked)" [checked]="displayedColumns.includes('apellido')">Apellidos</mat-checkbox>
    <mat-checkbox (change)="aniadirColumnaCheck('nif', $event.checked)" [checked]="displayedColumns.includes('nif')">NIF</mat-checkbox>
    <mat-checkbox (change)="aniadirColumnaCheck('edad', $event.checked)" [checked]="displayedColumns.includes('edad')">Edad</mat-checkbox>
    <mat-checkbox (change)="aniadirColumnaCheck('cursoMatriculado', $event.checked)" [checked]="displayedColumns.includes('cursoMatriculado')">Curso</mat-checkbox>
  </div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="numAlumno">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let student"> {{student.numAlumno}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let student"> {{student.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let student"> {{student.apellido}} </td>
    </ng-container>


    <ng-container matColumnDef="nif">
        <th mat-header-cell *matHeaderCellDef> NIF </th>
        <td mat-cell *matCellDef="let student"> {{student.nif}} </td>
    </ng-container>

    <ng-container matColumnDef="edad">
        <th mat-header-cell *matHeaderCellDef> edad </th>
        <td mat-cell *matCellDef="let student"> {{student.edad}} </td>
    </ng-container>

    <ng-container matColumnDef="cursoMatriculado">
        <th mat-header-cell *matHeaderCellDef> Curso Matriculado </th>
        <td mat-cell *matCellDef="let student"> {{student.cursoMatriculado}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>