<!--Calculadora botones digitos del 1 al 9-->
<div class="card row col-3 border border-3 m-3">
    <div class="container card-header">
        <div class="border border-2">
            <p class="mt-2">{{numero1}} {{numero2}} = {{resultado}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(7)">7</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(8)">8</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(9)">9</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(4)">4</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(5)">5</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(6)">6</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(1)">1</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(2)">2</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(3)">3</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(0)">0</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3">+</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3">-</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="restar()">=</button>
        </div>
    </div>



</div>