<!--Calculadora botones digitos del 1 al 9-->
<div class="card row col-3 border border-3 m-3">
    <div class="container card-header">
        <div class="border border-2">
            <p class="mt-2">{{calculo}}</p>
            <p class="col-2 m-2 bg-light p-2 shadow-lg rounded-5 text-center">{{resultado}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(7)">7</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(8)">8</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(9)">9</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(4)">4</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(5)">5</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(6)">6</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(1)">1</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(2)">2</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(3)">3</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="addNum(0)">0</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="seleccionarOperador('+')">+</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="seleccionarOperador('-')">-</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" (click)="resolver()">=</button>
        </div>
        <div class="col-4 row">
            <button class="btn btn-primary btn-block border border-3" mat-raised-button (click)="borrar()">C</button>
        </div>
    </div>



</div>